@font-face {
  font-family: 'san francisco';
  src: url(./sf/SF-Pro-Display-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'san francisco';
  src: url(./sf/SF-Pro-Display-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'san francisco', sans-serif;

}
h1 {
  font-size: 3.6rem;
}
h1, h2, h3, strong {
}
h1, h2, h3 {
  margin-bottom: 2rem;
}

ul, ol, menu {
  list-style: none;
  padding-inline-start: 0;
}

.title {
  background: linear-gradient(92.05deg, #FFFFFF -1.71%, #7700F7 101.18%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
.title h1 {
  font-size: 6.4rem;
}
.title h2 {
  font-size: 3.2rem;

}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.fluid {
  max-width: 100vw;
}
.attribuition {
  opacity: .5;
  margin-bottom: 1rem;
}
header {
  background-image: url(./assets/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}
header .container {
  flex: 1;
}
main .container {
  display: grid;
  grid-template-columns: 1fr 250px;
}

article,aside {
  border-left: 1px solid #ddd;
  padding: 4rem;
}
aside q, article p {
  color: #555;
}
article p {
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: justify;
  margin-bottom: 1.6rem;
}

article img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}
article div {
  margin-bottom: 4rem;
}
.profiles-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}
.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #ececec;
  color: rgba(0, 0, 0, 0.5);
  padding: 4rem;
  border-top: 1px solid #ddd;
  text-align: center;
} 
@media (max-width: 1024px) {
  header {
    padding: 4rem;
  }
  .title {
    font-size: 4.2rem;
  }
  main .container{
    grid-template-columns: 1fr;
  }
  main aside {
    display: none;
  }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#7700f76e, transparent);
  border: 2px solid #333;
  border-radius: 1rem;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#7700f7, transparent);
}
.controls {
  display: flex;
  align-items: center;
}
.nav-btn {
  padding: .4rem 2rem;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 1rem;
  text-decoration: none;
   color: black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
}
.nav-btn img {
  width: 24px;
  height: 24px;
  border: none;
}
.nav-btn:last-child {
  margin-left: 2rem;
}

